/* GLOBAL DEFAULTS */
@import'https://necolas.github.io/normalize.css/8.0.1/normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

@import url("https://use.typekit.net/loh5sap.css");

* {
    box-sizing: border-box;
}


body {

    font-family: "forma-djr-display";

    font-size: 20px;
   
    line-height: 1.6;

    color: #2d3d89;

}


a {

    font-weight: 700; 
    color: #f5c2c9;
}

a:hover {
    color: #1b3f2e
}

img, 
iframe {
    max-width: 100%;
}

/* HEADINGS AND TYPOGRAPHY */

h1,
h2,
h3 
{
    color: #1b3f2e;
}

h1 {
    font-family: "forma-djr-display";
    font-weight: 100px;
    font-style: normal;
    font-size: 30px;
}

h2 {
    font-family: "forma-djr-display";
    font-weight: 400px;
    font-style: normal;
    font-size: 40px;
}

h3 {
    font-family: "forma-djr-display"; 
    font-weight: bold; color: #f5c2c9; 
    font-size: 16px;
}

/* DESKTOP FONT SIXES */



/* HEADER AND LANDING AND MAIN AND FOOTER*/ 

header {
    background-color:#d54237;
    position: -webkit-sticky; /*for safari*/
    position: sticky;
    top: 0;
    padding: 0px;
}

.logo-wrapper img {
    max-width: 150px; 
}

.site-title {
    font-size: 30px;
    font-weight: bold;
    font-family: "forma-djr-display";
}


main {
    background-color: white;
}

footer {
    background-color:#d54237;
}



/* LAYOUTS */

.layout-top {
    max-width: 1000px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0.5px;
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
}

.layout-body {
    margin: auto;
    max-width: 1500px;
    text-align: justify;
}

@media screen and (min-width: 800px) {
    .layout-body {
        padding: 150px;
    }
}

@media screen and (min-width: 800px) {
    .layout-top {
        padding: 20px;
    }
}

.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}
   



    
/*NAVIGATION*/




/*MODULES*/

.about-me1 {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  
}



@media screen and (min-width: 800px) {

    .about-me1 {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}



