/* GLOBAL DEFAULTS */

body {
    background-color: linen;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* HEADINGS AND TYPOGRAPHY */

h1 {
    background-color: maroon;
    color: midnightblue;

}

h2 {
    color: rosybrown;
    font: size 20px;


}

/* HEADER AND MAIN AND FOOTER*/ 

header {
    background-color: moccasin;
}

main {

    background-color: olive;
}

footer {

background-color: olivedrab;
}

/* LAYOUTS */

.layout-wide {

max-width: 1000px;
margin-left: auto;
margin-right: auto;

padding: 20px;


}

/*NAVIGATION*/

/*MODULES*/

