body {
    background-color: linen;
}

h1 {
    background-color: maroon;
    color: midnightblue;

}

header {
    background-color: moccasin;
}

main {

    background-color: olive;
}

.layout-wide {

max-width: 800px;
margin-left: auto;
margin-right: auto;

}